<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Naslov</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

    <link rel="stylesheet" type="text/css" href="./hello.css">
</head>
<body>
    <p>pozdrav, svijete!</p>
    <p> <?php if(isset($mirnakey)) echo $mirnakey; ?> </p>
    <p> <?php if(isset($response)) print_r($response);; ?> </p>

    <table>
        <?php 
            foreach($data as $p) {
                echo "<tr><td>";
                print_r($p);
                echo "</td></tr>";
            }
        ?>
    </table>

</body>
</html>